<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
    </head>
    <body>
        <h1>Hello</h1>
        It works!<br>
        現在時刻は<span th:text="${time}"></span>です。
    </body>
</html>
